src/main/resources/inspired-fsm.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="workflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="state" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="transition" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="condition" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="action"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="to" use="required"/>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="description" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="required"/>
            <xs:attribute type="xs:string" name="deactionion" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="required"/>
      <xs:attribute type="xs:string" name="start" use="required"/>
      <xs:attribute type="xs:string" name="itemName" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>